<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=0.9.1">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=0.9.1">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=0.9.1">
<link rel="manifest" href="/assets/images/site.webmanifest?v=0.9.1">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=0.9.1">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=0.9.1">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">
