---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* type scale */
$type-size-1 : 2em;
$type-size-2 : 1.2em;
$type-size-3 : 0.9em;
$type-size-4 : 0.85em;
$type-size-5 : 0.8em;
$type-size-6 : 0.75em;
$type-size-7 : 0.6875em;
$type-size-8 : 0.625em;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
